*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    scroll-behavior:smooth;
    overflow-x: hidden;
}

body{
    background-color: #111821;
    

}

.slide{
    position: relative;
    width: 100%;
    min-height: 100vh;
  
}

#logo {
    background-image: url(portrait_sansfond.png);
    width:300px;
    height:300px;
    background-size:cover;
    background-position: center center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}


label {
    color:white;
}

.couleur {
    color:white;
}

.access {
    margin-top:300px;
}

h1, h2, h3 {
    color:white;
}

